.header{
    background-color: antiquewhite;
}

.nav-container{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    
}

.Nav{
    width: inherit;
    display: flex;
    flex-direction: column;
    background-color: chocolate;
}

.nav-menu{
    width: inherit;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.menu{
    height: 30px;
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}


.post{
    border: 2px solid red;
}

.NewPost{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.newPostForm{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px;
}

.newpost-submit{
    background-color: blue;
    color: white;
    font-style: bold;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border: 2px solid blue;
}